<!-- Index, a la cual seremos redireccionados, al hacer clic en el botón de pagar, de la aplicación móvil.-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Por favor oprima el boton para pagar</h1>
    <form   name="f1" action="/paypal">
      <button type="submit">Pagar</button>    </form>
</body>
</html>